.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  flex-flow: column;
  justify-content:center;
  padding-top: 30px;
  padding-left: 64px;  
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  top: 30px;
  left: 64px;
  position: absolute;
}

.header__title {
  left: 64px;
  width: 730px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
}

.header__subtitle {
  width: 388px;
  left: 64px;
  bottom: 30px;
  position: absolute;
}

.header__subtitle_link-text {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  z-index: 2;
  bottom: 0px;
  right: 0px;
}

.header__main-illustration__img {
  width: 765px;
  height: 608px;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  top: 64px;
  position: absolute;
  z-index: 1;
  background-color: #1E90FF;
  right: 0px;
  top: 64px;
}

.background_color {
  height: 100%;
  width: 100%;
  background-color: grey;
  background-size: cover;
  position: absolute;
  left:0px;
  top: 0px;
  opacity: .1;
}
/*Конец блока header*/

.two-columns {
  margin: 100px auto 100px auto;
  width: 80%;
  min-width: 784px;
  display: flex;
  justify-content: space-between;
  font-weight: normal; 
}

.two-columns__brief {
 width: 175px;
 color: #1E90FF;
 line-height: 1.2;
 font-size: 18px;
 font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  font-weight: 600;
}
/*Конец блока description*/

.section-title_theme_white {
  width: 60%;
  margin: 100px auto 20px auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}
 
.section-subtitle_theme_white {
  width: 60%;
  margin: 0px auto 0px auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
 
 
.table_theme_white {
  width: 1100px;
  margin: 0px auto 100px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
 
.table__cell_theme_white {
  margin-top: 60px;
  margin-left: 0px;
  width: 250px;
  right: 0px;
  bottom: 0px;
}

.table__heading_theme_white {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}
 
.table__text_theme_white {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
/*Конец блока digits*/

.feynman {
  display: flex;
  height: 890px;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../images/feynman.png");
  background-size: 867px 637px;
  background-position: 0% 100%;
  background-repeat: no-repeat;
}
  /*В задании предлагается установить изображение на фон блока feynman, однако при выборе такого способа добавления картинки у меня исключается возможность отразить надпись в случае невозможности загрузки картинки (как с аттрибутом alt тега img), поэтому тут нет "alt"(*/
  
.feynman__title {
  width: 648px;
  top: 10px;
  display: flex;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  position: absolute;
}
  
.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-top: 70px;
}  

.feynman__link {
  position: absolute;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
/*Заканчивается блок Фейнмана*/

.kaufman {
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: auto;
  margin-bottom: 0px;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0px;
  position: absolute;
  z-index: 2;
}

.section-title_theme_dark {
  width: 60%;
  margin-bottom: 20px;
  margin-top: 90px;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}
 
.section-subtitle_theme_dark {
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 0px;
}
 
 
.table_theme_dark {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px auto 90px auto;
  width: 65%;
  padding-left: 0px;
  padding-right: 0px;
  z-index: 2;
}
 
.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
  right: 0px;
  bottom: 0px;
  display: table;
  flex-direction: column;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-top: 0px;
  width: 100%;
}
 
.table__text_theme_dark {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  margin-bottom: 0px;
  font-weight: normal;
  width: 100%;
}
/*Конец блока Кауфман*/

.footer {
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  min-height: 350px;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 90%;
  margin-top: 60px;
  margin-bottom: 40px;
  padding-top: 0px;
}

.footer__column_content_copyright {
   display: flex;
   flex-basis: 711px; 
}

.logo_place_footer {
  top: 0px;
  left: 0px;
  position: absolute;
}

.footer__author {
  position: absolute;
  bottom: 18px;
  left: 0px;
}

 .footer__column_content_info {
  display: flex;
  flex-direction: column;
}

 .footer__column_content_social {
  display: flex;
  flex-direction: column;
 }

.footer__column-heading {
   top: 0px;
   margin-bottom: 20px;
   position: absolute;
   line-height: 30px;
   font-size: 18px;
   font-weight: 600;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
}

.footer__column-link {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
 
}
 
.footer__author {
   line-height: 25px;
   font-size: 18px;
   font-weight: normal;
}

.footer__social-icon {
   width: 16px;
   height: 16px;
 }



